
h1 {
	font-family: serif;
	font-style: bold;
	font-color:#d43f3a;
}

.navbar-brand {
	padding: 0px;
}

.nav-sidebar {
	font-color: white;
}

footer h2 {
	font-weight: bold;
	font-family: sans-serif;
}

footer a {
	font-weight: bold;
	font-family: sans-serif;
	font-color:white;
}